/* Cover full screen */
html,
body,
#main {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#main {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

body {
  background-color: rgba(0, 0, 0, 0.01);
}

@media print {
  @page {
    size: auto;
    margin: 20px;
  }
  body {
    background-color: white;
  }
  #main {
    display: block;
  }
  .form-container {
    display: none;
  }
  .preview-container {
    margin: 0;
    padding: 0;
    box-shadow: none;
    overflow: none;
    height: fit-content;
  }
}

.credits {
  margin-top: auto;
  padding: 10px;
  text-align: center;
  color: gray;
}

.credits a {
  color: gray;
}

.credits a:hover {
  color: black;
}

.saved {
  position: absolute;
  top: 14px;
  left: 14px;
  color: #bfa600;
  border: 2px solid #bfa600;
  background-color: white;
  padding: 5px;
  box-shadow: -4px -4px 0px var(--btn-color), 4px 4px 0px var(--btn-color);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.saved.show {
  opacity: 1;
}
