.form-section-header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
/* Form elements */
.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
