/* Cover full screen */
html,
body,
#main {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#main {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

body {
  background-color: rgba(0, 0, 0, 0.05);
}

@media print {
  @page {
    size: auto;
    margin: 20px;
  }
  body {
    background-color: white;
  }
  #main {
    display: block;
  }
  .form-container {
    display: none;
  }
  .preview-container {
    margin: 0;
    padding: 0;
    box-shadow: none;
    overflow: none;
    height: fit-content;
  }
}

.credits {
  position: relative;
  bottom: 0;
  text-align: center;
  color: gray;
}

.credits a {
  color: gray;
}

.credits a:hover {
  color: black;
}
